<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Главная</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/font-awesome.css">
     </head>
     <body>

<!--===================================header=================================-->
<header>
    <div class="container">
        <div class="row">
            <div class="grid_12">
             <h1 class="logo"><a href="index.html"><img src="/images/logo.png" alt="FOOD DELIVERY"></a>  </h1>
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="/">ГЛАВНАЯ</a></li>
                        <li><a href="/menu">МЕНЮ</a></li>
                        <li><a href="/cart">КОРЗИНА</a></li>
                        <li><a href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                  <div class="clearfix"></div>
                </nav>
               <div class="clearfix"></div>

                <hr class="header-border">

            </div>
        </div>
    </div>
    <div class="container">
        <section class="slogan aligncenter">
                <h2>ДОСТАВКА ЕДЫ ПРЯМО К ВАШЕМУ ПОРОГУ</h2>
                <p class="text-01"><br>Свежие блюда из любимых ресторанов.
                <br> Быстро, удобно, вкусно!
                </p>
                <div class="clearfix"></div>
                <a href="#" class="btn-01 def-btn">ПОДРОБНЕЕ</a>
        </section>
    </div>
</header>

<!--==================================content================================-->
<div class="main">
        <div class="container">
            <div class="row">
                <div class="grid_4">
                    <div class="aligncenter content-01 pad0">
                        <img src="/images/page1_icon1.png" alt="" class="no-resize">
                        <h3>Подарочные сертификаты</h3>
                        <p class="content-text">Идеальный подарок для гурманов – свобода выбора вкусных блюд на любой вкус и случай!</p>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="aligncenter content-01 pad0">
                        <img src="/images/page1_icon2.png" alt="" class="no-resize">
                        <h3>Быстрая доставка</h3>
                        <p class="content-text">Скорость – наш приоритет! Мы доставим еду к вашему порогу точно в срок.</p>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="aligncenter content-01 pad0">
                        <img src="/images/page1_icon3.png" alt="" class="no-resize">
                        <h3>Мгновенная оплата</h3>
                        <p class="content-text">Удобная и безопасная оплата за несколько секунд – наслаждайтесь, не теряя времени.</p>
                    </div>
                </div>
            </div>
        </div>
</div>

<section class="pad3">
    <div class="container">
        <div class="row">
                   <h2>Популярные блюда</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="thumbs">
              <ul class="gal-1">
                       <li class="grid_3">
                            <figure class="figure"><a class="lightbox" href="/images/image1.jpg"><img src="/images/page1_img1.jpg" alt=""></a></figure>
                            <div class="caption">
                                <div class="fleft">
                                    <h4><a href="#">Ризотто</a></h4>
                                    <p>620 ₽</p>
                                </div>
                                <a href="#" class="def-btn fa fa-shopping-cart"></a>
                            </div>
                        </li> 
                        <li class="grid_3">
                            <figure class="figure"><a class="lightbox" href="/images/image2.jpg"><img src="/images/page1_img2.jpg" alt=""></a></figure>
                            <div class="caption">
                                <div class="fleft">
                                    <h4><a href="#">Овощи гриль</a></h4>
                                    <p>350 ₽</p>
                                </div>
                                <a href="#" class="def-btn fa fa-shopping-cart"></a>
                            </div>
                        </li>
                        <li class="grid_3">
                            <figure class="figure"><a class="lightbox" href="/images/image3.jpg"><img src="/images/page1_img3.jpg" alt=""></a></figure>
                            <div class="caption">
                                <div class="fleft">
                                    <h4><a href="#">Шаурма</a></h4>
                                    <p>280 ₽</p>
                                </div>
                                <a href="#" class="def-btn fa fa-shopping-cart"></a>
                            </div>
                        </li> 
                        <li class="grid_3">
                            <figure class="figure"><a class="lightbox" href="/images/image4.jpg"><img src="/images/page1_img4.jpg" alt=""></a></figure>
                            <div class="caption">
                                <div class="fleft">
                                    <h4><a href="#">Салат Цезарь</a></h4>
                                    <p>350 ₽</p>
                                </div>
                                <a href="#" class="def-btn fa fa-shopping-cart"></a>
                            </div>
                        </li>    
                    </ul> 
               </div>
           </div>
     </div>   
</section>

<!--==============================footer=================================-->
<footer id="footer">
        <div class="container pad2">
            <div class="row">
                <div class="grid_4">
                    <address>
                        <p class="icon1">Foody<br>ул. Студенческая, 14, Белгород, 3080010</p>
                    </address>
                </div>
                <div class="grid_4">
                        <p class="icon2">Телефон: +7 800 555 35 35<br>E-mail: <a href="#">foody@mail.ru</a><!--{%FOOTER_LINK} --></p>
                </div>
                <div class="grid_4">
                        <p><a class="f-logo" href="index.html">Foody</a> &copy; <span id="copyright-year"></span>
                    <div class="socials">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>
        </div>                       
</footer>
</body>
</html>