<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Contacts</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
     <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/font-awesome.css">
     <link rel="stylesheet" href="/css/form.css">
     <script src="/js/jquery.js"></script>
     <script src="/js/jquery-migrate-1.2.1.js"></script>
     <script src="/js/jquery.ui.totop.js"></script>
     <script src="/js/jquery.easing.1.3.js"></script>
	 <script src="/js/script.js"></script>
     <script src="/js/superfish.js"></script>
     <script src="/js/jquery.mobilemenu.js"></script>
     <script src="/js/TMForm.js"></script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
         <script src="/js/html5shiv.js"></script>
         <link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css">
         <![endif]-->
    <script>
  $(function(){

    // Initialize the gallery

    $().UItoTop({ easingType: 'easeOutQuart' });
   });
   </script>

     </head>
     <body>

<!--===================================header=================================-->
<header>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h1 class="logo"><a href="/"><img src="/images/logo.png" alt="FOOD DELIVERY"></a>  </h1>
                <nav>
                    <ul class="sf-menu">
                        <li><a href="/">ГЛАВНАЯ</a></li>
                        <li><a href="/menu">МЕНЮ</a></li>
                        <li><a href="/cart">КОРЗИНА</a></li>
                        <li class="current"><a href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
                <div class="clearfix"></div>

                <hr class="header-border">

            </div>
        </div>
    </div>
</header>

<!--==================================content================================-->
<section class="pad0">
    <div class="container">
        <div class="row">
            <h2>связаться с нами</h2>
              <div class="grid_7">
                  <div class="map_wrapper">
                        <iframe id="map_canvas" src="https://yandex.ru/map-widget/v1/?ll=36.577180%2C50.621624&z=16&pt=36.577180,50.621624,pm2rdl">
                        </iframe>
                    </div>
               </div>
              <div class="preffix_1 grid_4">
                       <ul class="contact">
                           <li class="text-01">Адрес:</li>
                           <li class="text-02">ул. Студенческая, 14, г. Белгород, 3080010</li>
                       </ul>
                       <ul class="phones">
                           <li class="text-01">Телефоны:</li>
                           <li class="text-02">+7 800 555 3535</li>
                           <li class="text-02">+7 800 666 3636</li>
                       </ul>
                       <ul class="mail">
                           <li class="text-01">e-mail:</li>
                           <li class="text-02"><a href="#">foody@mail.ru</a></li>
                       </ul>
                </div>
            </div>
        </div> 
</section> 
<section class="pad3">
     <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2>форма обратной связи</h2>
                   <form id="contact-form">
                    <div class="success-message">Форма отправлена.</div>
                    <div class="row">
                        <div class="grid_4">
                            <label class="name">
                                <input type="text" placeholder="Ваше имя:" data-constraints="@Required @JustLetters" />
                                <span class="empty-message">*This field is required.</span>
                                <span class="error-message">*This is not a valid name.</span>
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="grid_4">
                            <label class="phone">
                                <input type="text" placeholder="Телефон:" data-constraints="@Required @JustNumbers"/>
                                <span class="empty-message">*This field is required.</span>
                                <span class="error-message">*This is not a valid phone.</span>
                            </label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="grid_4">
                            <label class="email">
                                <input type="text" placeholder="E-mail:" data-constraints="@Required @Email" />
                                <span class="empty-message">*This field is required.</span>
                                <span class="error-message">*This is not a valid email.</span>
                            </label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid_12">
                            <label class="message">
                                <textarea placeholder="Сообщение:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                                <span class="empty-message">*This field is required.</span>
                                <span class="error-message">*The message is too short.</span>
                            </label>
                            <div class="clearfix"></div>
                            <div class="btn-wrap">
                              <a class="def-btn" href="#" data-type="submit">Отправить</a>
                            </div>
                        </div> 
                    </div>
                   </form>
                </div>          
         </div>
    </div>
</section>    
<!--===================================footer================================-->
<footer id="footer">
    <div class="container pad2">
        <div class="row">
            <div class="grid_4">
                <address>
                    <p class="icon1">Foody<br>ул. Студенческая, 14, Белгород, 3080010</p>
                </address>
            </div>
            <div class="grid_4">
                <p class="icon2">Телефон: +7 800 555 35 35<br>E-mail: <a href="#">foody@mail.ru</a><!--{%FOOTER_LINK} --></p>
            </div>
            <div class="grid_4">
                <p><a class="f-logo" href="index.html">Foody</a> &copy; <span id="copyright-year"></span>
                <div class="socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-vk"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>